.centered-container {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  margin-top: 5%;
}

.usersTable {
  margin-top: 10px;
  width: 100%;
}

a {
  cursor: pointer;
}

.delete {
  cursor: pointer;
  color: #f44336;
  margin-right: 5px;
}

.update {
  cursor: pointer;
  color: #ff4081;
  margin-right: 5px;
}

.view {
  cursor: pointer;
  color: #3f51b5;
  margin-right: 5px;
}

.action-link {
  text-align: right;
}
